<h1 class="text-center bold-white">Social/<%=title%></h1>

<section id="feed-posts">
    <% if(locals.user){ %>
        <h2 class="bold-white text-center">Post</h2>
        <form action="/posts/create" id="new-post-form" class="text-center" method="POST">
            <textarea name="content"  cols="30" rows="3" placeholder="Type here..."></textarea>
            <input type="submit" value="Post">
        </form>
    <% } %>

    <div id="posts-list-container">
        <ol type="1">
            <% for(post of locals.posts) {%>
                <li>
                <p>
                    <% if(locals.user && locals.user.id==post.user.id){ %>
                        <small>
                            <a href="/posts/destroy/<%=post.id%>" style="color:red">X</a>
                        </small>
                    <% } %>
                    <!-- <li> -->
                        <%=post.content%>
                    <!-- </li> -->
                    <br>
                    <small>
                        -<%=post.user.name%>
                    </small>
                </p>
                <div class="post-comments">
                    <% if(locals.user){ %>
                        <form action="/comments/create" method="POST">
                            <input type="text" name="content" placeholder="Type here to add comment" required>
                            <input type="hidden" name="post" value="<%=post._id%>">
                            <input type="submit" value="Add Comment">
                        </form>
                    <% } %>

                    <div class="post-commets-list">
                        <ul id="post-comments-<%=post._id%>">
                            <% for(comment of post.comments){ %>
                                <li>
                                    <p>
                                        <% if(locals.user && (locals.user.id==comment.user.id || locals.user.id==post.user.id)){ %>
                                            <small>
                                                <a href="/comments/destroy/?id=<%=comment.id%>&postUserId=<%=post.user.id%>" style="color:red">X</a>
                                            </small>
                                        <% } %>
                                        <%=comment.content%>
                                        <br>
                                        <small>
                                           - <%=comment.user.name%>
                                        </small>
                                    </p>
                                </li>
                            
                            <% } %>
                        </ul>
                    </div>
                </div>
                </li>
            <% } %>
        </ol>
    </div>

</section>